ANTHROPIC_API_KEY="your-anthropic-api-key"
Hugging_Face_Model_TOKEN="https://api.huggingface.com/token/v1?grant_type=client_credentials&client_id=<Your-Hugging-Face-Client-ID>&client_secret=<Your-Hugging-Face-API-Key>"
OpenAI_API_KEY="your-openai-api-key"